@media screen and (max-width:850px){
    .container {
        width: 100%;
    } 
    .date img{
        background-repeat: no-repeat;
        background-size: cover;
        width: 80%;
    }
    .flow img, .text img{
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .photo img{
        background-repeat: no-repeat;
        background-size: cover;
        width: 32%;
    }
    .timer {
        margin-top: 5%;
        display: grid;
        grid-template-columns: 3rem 1rem 2.5rem 1rem 2.5rem 1rem 2.5rem;
        font-size: 2rem;
        justify-items: center;
        font-family: "Bitter";
        color: rgba(82, 103, 61, 1);
        letter-spacing: 10%;
      }
      .timer__item::before {
        content: attr(data-title);
        display: block;
        position: absolute;
        bottom: -0.75rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.7rem;
        color: rgb(60, 77, 43);
      }
      .text p{
        font-family: "Bitter";
        color: rgb(96, 110, 81);
        font-size: 20px;
        letter-spacing: 10%;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(156, 156, 156, 0.692);
    }
    
    .text{
        margin: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .date, .palace{
        h3{
            font-family: "Bitter";
        color: rgba(156, 171, 140, 1);
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(156, 156, 156, 0.692);
        }
        p{
            font-family: "Bitter";
        color: rgb(96, 110, 81);
        font-size: 20px;
        letter-spacing: 10%;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(156, 156, 156, 0.692);
        }
    }
}
@media screen and (min-width:850px){
    .container {
        width: 70%;
    } 
    .date img{
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
    }
    .flow img, .text img {
        background-repeat: no-repeat;
        background-size: cover;
        width: 70%;
    }
    .photo img{
        background-repeat: no-repeat;
        background-size: cover;
        width: 30%;
    }
    .timer {
        margin-top: 5%;
        display: grid;
        grid-template-columns: 7.5rem 2.5rem 6.5rem 2.5rem 6.5rem 2.5rem 6.5rem;
        font-size: 4rem;
        justify-items: center;
        font-family: "Bitter";
        color: rgba(82, 103, 61, 1);
        letter-spacing: 10%;
      }
      .timer__item::before {
        content: attr(data-title);
        display: block;
        position: absolute;
        bottom: -0.75rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.2rem;
        color: rgb(60, 77, 43);
      }
      .text p{
        font-family: "Bitter";
        color: rgb(96, 110, 81);
        font-size: 40px;
        letter-spacing: 10%;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(156, 156, 156, 0.692);
    }
    
    .text{
        margin: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .date, .palace{
        h3{
            font-family: "Bitter";
        color: rgba(156, 171, 140, 1);
        font-size: 62px;
        font-weight: 400;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(156, 156, 156, 0.692);
        }
        p{
            font-family: "Bitter";
        color: rgb(96, 110, 81);
        font-size: 40px;
        letter-spacing: 10%;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(156, 156, 156, 0.692);
        }
    }
}

* {
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.cont img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.flow, .text, .cont, .date{
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    height: 100px;
}

  
  .timer__item {
    position: relative; 
  }
  
  
  .timer-cont{
    display: grid;
    justify-content: center;
    align-items: center;
    
  }
  .date{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  .photo{
    margin: 2%;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .palace{
    margin-top: 10%;
  }
